 <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
<div class="single-service">

<h2>{{ fields.title.content }}</h2>
<p>{{ fields.field_service_description.content }}</p>
</div>

</div>
