
    <section id="home-slider">
        <div class="container">
            <div class="row">
                {{content}}
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>