
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{contact_config.title}}</h1>
                            <p>{{contact_config.slogan}}</p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <div>
     <section id="map-section">
        <div class="container">
            <div id="gmap">

     <iframe width="800" height="350" frameborder="0" src="https://www.bing.com/maps/embed?h=350&w=800&cp={{contact_map.latitude}}~{{contact_map.longitude}}&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
     </iframe>
     

</div>
        </div>
    </section> <!--/#map-section--> 